

.category-card
{
    /* border: 1px solid #e3e3e3; */
    border:10px solid rgb(226, 214, 214);
    /* border-radius: 16px; */
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    /* background-color: white; */
    overflow: hidden;
    height:350px;
    width: 320px;
    background-color: rgb(36, 113, 136);
    text-align:center;
    color: ivory;

}

.category-card img
{
    height:250px;
    width: 320px;
    object-fit: cover;
    cursor: pointer ;
    /* transition:  transform .50s visibility .25s ease-in; */
}