/* 
.container
{
 display: grid;
 /* grid-template-columns: 1fr 1fr 1fr 1fr;
 grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
 grid-template-rows: ; */
 /* margin: 0;
 padding: 0;
 box-sizing: border-box; */
    /* margin-top: 50px;
    
    width:90%;
    margin:0 0; */
    /* background-color: #b31313; */
    
.all-products{
    padding-left: 0px;
    margin: 0;
}

/* .page {
    display: grid;
    grid: repeat(5, 80px) / repeat(12, 1fr);
    grid-gap: 10px;
}  */
#section-product-list h1
{
    margin: left 0;;
}


.btn
{
    display:inline-block;
    padding:5px;
    text-align:center;
}
  .grid
{
    display: grid;
}


.grid-gap-1
{
    column-gap: 1rem;
    row-gap: 3em;
}

.grid-gap-2
{
    column-gap: 50rem;
}

.grid-col-1
{
    grid-template-columns: 1fr;
}

.grid-col-2
{
    grid-template-columns: repeat(2,1fr);
}

.grid-col-3
{
    grid-template-columns: repeat(3,1fr);
}

.grid-col-4
{
    grid-template-columns: repeat(4,1fr);
}

.col-25
{
    grid-column-start: 1/span 1;
}

.col-50
{
    grid-column-start: 1/span 2;
}

.col-75
{
    grid-column-start: 1/span 3;
} 

 .pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
  }
  .pagination > .active > a{
    background-color: #47ccde ;
    border-color: #47ccde ;
    color: #fff;
  }
  .pagination > li > a{
    border: 1px solid #47ccde ;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #47ccde ;
    border-color: #47ccde;
    outline: none ;
  }
  .pagination > li > a, .pagination > li > span{
    color: #47ccde
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  } 


  /* .pagination {
    display: flex;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
  }
  
 
   .pagination a {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #6c7ac9;
    color: #6c7ac9;
  } 
  
  .pagination__link {
    font-weight: bold;
  }
  
  .pagination__link--active a {
    color: #fff;
    background: #6c7ac9;
  }
  
  .pagination__link--disabled a {
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
  } */

